<div *ngIf="recette">
    <div class="recette-container">
        <h1 class="recette-titre">{{ recette.titre }}</h1>

        <!-- Section des icônes pour portions et temps -->
        <div class="recette-infos">
            <span class="recette-portion">
                <i class="fa fa-users"></i> {{ recette.portions }} portions
            </span>
            <span class="recette-temps">
                <i class="fa fa-clock"></i> Préparation : {{ recette.tempsPreparation }} min
            </span>
            <span *ngIf="recette.tempsCuisson > 0" class="recette-temps">
                <i class="fa fa-clock"></i> Cuisson : {{ recette.tempsCuisson }} min
            </span>
        </div>

        <figure class="recette-image">
            <img *ngIf="recette.imageUrl" [src]="recette.imageUrl" alt="{{ recette.titre }}" />
        </figure>
        <div class="recette-ingredients">
            <h2>Ingrédients</h2>
            <ul>
                <li *ngFor="let ingredient of recette.ingredients">{{ getIngredientNomById(ingredient.ingredientId) }} -
                    {{ ingredient.quantite }} {{ ingredient.unite }}</li>
            </ul>
        </div>
        <div class="recette-instructions">
            <h2>Instructions</h2>
            <p *ngFor="let instruction of getParagraphs(recette.instructions)">{{ instruction }}</p>
        </div>
        <div class="nutrition-info">
            <h3>Informations Nutritionnelles</h3>
            <table>
              <tr>
                <th colspan="4">Macronutriments (par 100g)</th>
              </tr>
              <tr>
                <td>Calories</td>
                <td>Protéines (g)</td>
                <td>Glucides (g)</td>
                <td>Lipides (g)</td>
              </tr>
              <tr>
                <td>{{ totalCalories | number:'1.0-0' }} kcal</td>
                <td>{{ totalProteines | number:'1.1-1' }}</td>
                <td>{{ totalGlucides | number:'1.1-1' }}</td>
                <td>{{ totalLipides | number:'1.1-1' }}</td>
              </tr>
          
              <tr>
                <th colspan="4">Vitamines (mg)</th>
              </tr>
              <tr *ngIf="totalVitamines | keyvalue as vitamines">
                <ng-container *ngFor="let vitamine of vitamines">
                  <td>{{ vitamine.key }}</td>
                </ng-container>
              </tr>
              <tr *ngIf="totalVitamines | keyvalue as vitamines">
                <ng-container *ngFor="let vitamine of vitamines">
                  <td>{{ vitamine.value | number:'1.1-1' }}</td>
                </ng-container>
              </tr>
          
              <tr>
                <th colspan="4">Minéraux (mg)</th>
              </tr>
              <tr *ngIf="totalMineraux | keyvalue as mineraux">
                <ng-container *ngFor="let mineral of mineraux">
                  <td>{{ mineral.key }}</td>
                </ng-container>
              </tr>
              <tr *ngIf="totalMineraux | keyvalue as mineraux">
                <ng-container *ngFor="let mineral of mineraux">
                  <td>{{ mineral.value | number:'1.1-1' }}</td>
                </ng-container>
              </tr>
            </table>
          </div>
                    

        <div class="recette-actions clearfix">
            <button (click)="imprimerRecette()" class="btn btn-secondary">Imprimer</button>
            <button (click)="modifierRecette()" class="btn btn-primary">Modifier</button>
            <button (click)="supprimerRecette()" class="btn btn-danger">Supprimer</button>
        </div>
    </div>
</div>
<div *ngIf="!recette">
    <p>Recette introuvable.</p>
</div>