<div *ngIf="recette">
    <div class="recette-container">
        <h1 class="recette-titre">{{ recette.titre }}</h1>

        <!-- Section des icônes pour portions et temps -->
        <div class="recette-infos">
            <span class="recette-portion">
                <i class="fa fa-users"></i> {{ recette.portions }} portions
            </span>
            <span class="recette-temps">
                <i class="fa fa-clock"></i> Préparation : {{ recette.tempsPreparation }} min
            </span>
            <span *ngIf="recette.tempsCuisson > 0" class="recette-temps">
                <i class="fa fa-clock"></i> Cuisson : {{ recette.tempsCuisson }} min
            </span>
        </div>

        <figure class="recette-image">
            <img *ngIf="recette.imageUrl" [src]="recette.imageUrl" alt="{{ recette.titre }}" />
        </figure>
        <div class="recette-ingredients">
            <h2>Ingrédients</h2>
            <ul>
              <li *ngFor="let ingredient of recette.ingredients">{{ ingredient }}</li>
            </ul>
        </div>
        <div class="recette-instructions">
            <h2>Instructions</h2>
            <p *ngFor="let instruction of getParagraphs(recette.instructions)">{{ instruction }}</p>
        </div>

        <div class="recette-actions clearfix">
            <button (click)="imprimerRecette()" class="btn btn-secondary">Imprimer</button>
            <button (click)="modifierRecette()" class="btn btn-primary">Modifier</button>
            <button (click)="supprimerRecette()" class="btn btn-danger">Supprimer</button>
        </div>
    </div>
</div>
<div *ngIf="!recette">
    <p>Recette introuvable.</p>
</div>