/* Structure principale */
.recette-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.recette-titre {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.recette-infos {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.recette-infos i {
  margin-right: 5px;
}

.recette-contenu {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

/* Flexbox pour disposer l'image et le contenu textuel */
.recette-contenu-flex {
  display: flex;
  gap: 20px;
}

.recette-texte {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.recette-texte-container {
  position: relative;
  padding-right: 220px; /* Espace réservé pour l'image */
}

.recette-ingredients {
  margin: 0px 15px 20px 10px;
}

.recette-ingredients h2,
.recette-instructions h2 {
  display: inline-block;
  font-size: 1.2rem;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.recette-ingredients ul {
  padding-left: 20px;
}

.recette-image {
  float: right;
  margin: 0 0 10px 20px;
  max-width: 250px;
}

.recette-image img {
  height: auto;
  border-radius: 8px;
  shape-outside: inset(0 0 0 0);
}

.recette-instructions {
  text-align: justify;
  margin: 0px 15px 20px 10px;
}

.recette-instructions p {
  font-size: 1rem;
  line-height: 1.6;
  color: #444;
  text-align: justify;
  margin-bottom: 10px;
}

/* Empêche la flottaison d'affecter les boutons */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* Alignement des boutons */
.recette-actions {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.wrapper {
  width: 35rem;
}

h3 {
  line-height: 2rem;
  margin-bottom: -0.6rem;
}

p {
  text-align: justify;
  text-indent: 2em;
}

img {
  width: 100%;
  float: right;
  margin: 0 10px 5px 0;
}

.shape {
  shape-outside: inset(0 0 0 0);
}

.nutrition-info {
  width: 100%;
  margin-top: 20px;
  font-size: 0.85em;
  background-color: #f9f9f9;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
}

.nutrition-info h3 {
  text-align: center;
  font-size: 1em;
  margin-bottom: 8px;
}

.nutrition-info table {
  width: 100%;
  border-collapse: collapse;
}

.nutrition-info th {
  padding: 6px;
  background-color: #d4e7dc;
  font-weight: bold;
  font-size: 0.9em;
}

.nutrition-info td {
  padding: 4px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 0.85em;
}

.nutrition-info tr:last-child td {
  border-bottom: none;
}
