<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="images/logo.png" alt="CuistotFamily Logo" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto"> <!-- Aligns items to the right -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recette">Ajouter une Recette</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profil">Profil</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- Outlet pour afficher le contenu -->
<router-outlet></router-outlet>
