.card {
  border: 1px solid var(--vert-gris);
  border-radius: 8px;
  background-color: var(--blanc);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.card-title {
  color: var(--gris-fonce);
  font-weight: bold;
}

.card-text {
  color: var(--gris-fonce);
  font-size: 0.9rem;
}

.btn-primary {
  background-color: var(--vert-doux);
  border-color: var(--vert-doux);
  color: var(--gris-fonce);
}

.btn-primary:hover {
  background-color: #A3C3A4;
  border-color: #A3C3A4;
}

.pagination .page-item.active .page-link {
  background-color: var(--vert-doux);
  border-color: var(--vert-doux);
  color: white;
}

.pagination .page-link {
  color: var(--gris-fonce);
  cursor: pointer;
}
